<!DOCTYPE html>
<html>

<head>
  <title>高校教学管理平台</title>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
  <link rel="icon" href="/images/favicon.ico" />
  <link rel="stylesheet" type="text/css" href="/dist/semantic.css" />
  <link rel="stylesheet" href="/swiper/package/css/swiper.min.css" />
  <style type="text/css">
    body {
      background-color: #eeeeee;
    }

    .footer.segment {
      padding: 5em 0em;
    }

    .course-title {
      font-weight: bold;
      font-size: medium;
      font-family: "黑体";
      margin: 8px 16px;
    }

    .course-info {
      font-family: "微软雅黑";
      margin: 8px 16px;
    }

    .user-title {
      text-align: center;
      font-size: large;
      font-family: "微软雅黑";
      font-size: 20px;
    }
  </style>
</head>

<body>
  <!-- 导航栏 -->
  <div class="ui inverted menu" style="padding: 1px;">
    <img class="ui tiny image" src="/images/学在浙大.png" style="display: flex; left: auto; margin-left: 20%;" />
    <div class="right menu" style="margin-right: 20%;">
      <div class="item"><i class="bell outline icon"></i></div>
      <a class="item">我的主页</a>
      <a class="item">Timeless</a>
    </div>
  </div>
  <!-- 导航栏 -->

  <!-- 课程信息 -->
  <div class="ui container">
    <div class="ui segment" style="margin-top:10px;background-color: rgb(220,220,220);">
      <div class="ui stackable inverted divided equal height stackable grid">
        <div class="four wide column">
          <h2 class="ui header">操作系统</h2>
          <div class="description">
            2019-2020秋冬 计算机科学与技术学院
          </div>
          <h5 class="ui header">授课老师</h5>
          <div class="description">
            夏莹杰
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- 课程信息 -->

  <!-- 申诉框 -->
  <div class="ui container" style="margin-top:10px;">
    <div class="ui segments" style="background-color:rgb(255, 255, 255);">
      <div style="height:20px;"></div>
      <div class="ui basic segment">
        <b class="homework name" style="font-size:xx-large;">Linux进程管理研究报告</b>
      </div>
      <div class="ui divider" style="margin-left: 10px;margin-right: 10px;"></div>
      <div class="ui basic segment">
        <form class="ui form">
          <div class="field">
            <label><b style="font-size: large;">申诉原因</b></label>
            <textarea maxlength="300" name="reason" placeholder="不超过300个字符"></textarea>
          </div>
          <div class="field">
            <label><b style="font-size: large;">您的联系方式</b></label>
            <input type="text" name="contact" placeholder="电话或邮箱，不超过32个字符">
          </div>
        </form>
        <div style="height:20px;"></div>
        <div class="actions">
          <div class="ui red deny button" onclick="javascript:window.location.href='./studentHomeworkSituation'">取消
          </div>
          <div class="ui positive button" onclick="postComplainMsg()">提交</div>
        </div>
      </div>
    </div>
  </div>
  <!-- 申诉框 -->

  <!-- 占位 -->
  <div style="height:20px;"></div>
  <!-- 占位 -->

</body>

<script src="/swiper/package/js/swiper.min.js"></script>
<script src="/javascripts/jquery.js"></script>
<script>
  var postComplainMsg = () => {
    if ($("textarea[name='reason']").val().replace(' ', '') == "") {
      alert("申诉原因不能为空！");
      return;
    }
    if ($("input[name='contact']").val().replace(' ', '') == "") {
      alert("联系方式不能为空！");
      return;
    }
    $.ajax({
      dataType: "json",
      type: "post",
      url: "/complainBoard",
      data: {
        reason: $("textarea[name='reason']").val(),
        contact: $("input[name='contact']").val()
      },
      success: (data) => {
        if (data.status) {
          alert("提交申诉成功!");
          $("textarea[name='reason']").val("");  //清空申诉原因和联系方式
          $("input[name='contact']").val("");
        } else {
          alert(data.msg);
        }
      },
      error: (err) => {
        alert("与服务器连接异常，请稍后再试!");
      }
    });
  }
</script>

</html>