<!DOCTYPE html>
<html>

<head>
  <title>高校教学管理平台</title>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
  <link rel="icon" href="/images/favicon.ico" />
  <link rel="stylesheet" type="text/css" href="/dist/semantic.css" />
  <link rel="stylesheet" href="/swiper/package/css/swiper.min.css" />
  <style type="text/css">
    body {
      background-color: #eeeeee;
    }

    .footer.segment {
      padding: 5em 0em;
    }

    .course-title {
      font-weight: bold;
      font-size: medium;
      font-family: "黑体";
      margin: 8px 16px;
    }

    .course-info {
      font-family: "微软雅黑";
      margin: 8px 16px;
    }

    .user-title {
      text-align: center;
      font-size: large;
      font-family: "微软雅黑";
      font-size: 20px;
    }
  </style>
</head>

<body>
  <!-- 导航栏 -->
  <div class="ui inverted menu" style="padding: 1px;">
    <img class="ui tiny image" src="/images/学在浙大.png" style="display: flex; left: auto; margin-left: 20%;" />
    <div class="right menu" style="margin-right: 20%;">
      <div class="item"><i class="bell outline icon"></i></div>
      <a class="item">我的主页</a>  
      <a class="item">夏莹杰</a>
    </div>
  </div>
  <!-- 导航栏 -->

  <!-- 课程信息 -->
  <div class="ui container">
    <div class="ui segment" style="margin-top:10px;background-color: rgb(220,220,220);">
      <div class="ui stackable inverted divided equal height stackable grid">
        <div class="four wide column">
          <h2 class="ui header">操作系统</h2>
          <div class="description">
            2019-2020秋冬 计算机科学与技术学院
          </div>
          <h5 class="ui header">授课老师</h5>
          <div class="description">
            夏莹杰
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- 课程信息 -->

  <!-- 课程水平菜单 -->
  <div class="ui container" style="margin-top:10px;">
    <div class="ui six item menu">
      <a class="content">
        <a class="item">
          <i class="bell outline icon"></i>
          公告
        </a>
        <a class="item">
          <i class="folder outline icon"></i>
          课件
        </a>
        <a class="item">
          <i class="pencil alternate icon"></i>
          作业
        </a>
        <a class="item">
          <i class="users icon"></i>
          分组学习
        </a>
        <a class="item">
          <i class="clipboard outline icon"></i>
          成绩
        </a>
        <a class="item">
          <i class="comment outline icon"></i>
          讨论
        </a>
      </a>
    </div>
  </div>
  <!-- 课程水平菜单 -->

  <!-- 课程作业列表 -->
  <div class="ui container" style="margin-top:10px;">
    <div class="ui segments">
      <div class="ui grey segment" style="background-color:rgb(221, 219, 219);">
        <div class="ui relaxed horizontal list">
          <div class="item" style="width: 350px;">
            <div class="content">
              <div class="homework item list" style="margin-left: 15px;"><b>作业名称</b></div>
            </div>
          </div>
          <div class="item" style="width: 236px;">
            <div class="content">
              <div class="homework item list">
                <i class="plus square icon"></i><b><a style="color: darkred;font-size: larger;">添加作业</a></b>
              </div>
            </div>
          </div>
          <div class="item" style="width: 150px;">
            <div class="content">
              <div class="homework item list"><i class="edit icon"></i><b>修改</b></div>
            </div>
          </div>
          <div class="item" style="width: 150px;">
            <div class="content">
              <div class="homework item list"><i class="trash alternate icon"></i><b>删除</b></div>
            </div>
          </div>
          <div class="item" style="width: 150px;">
            <div class="content">
              <div class="homework item list"><i class="eye icon"></i><b>批改</b></div>
            </div>
          </div>
        </div>
      </div>
      <div class="ui segment" style="background-color:rgb(255, 255, 255);">
        <div class="ui relaxed horizontal list">
          <div class="item" style="width: 600px;">
            <div class="content">
              <div class="homework name" style="margin-left: 15px;font-size: large;"><b><a>死锁课后习题</a></b></div>
              <div class="homework simple description" style="margin-left: 15px;margin-top: 10px;">
                <div class="ui relaxed horizontal list">
                  <div class="item" style="width:auto;">
                    <div class="content">
                      <div class="homework begintime">开始:2019-11-30 21:00</div>
                    </div>
                  </div>
                  <div class="item" style="width:auto;">
                    <div class="content">
                      <div class="homework endtime">截止:2019-12-15 22:00</div>
                    </div>
                  </div>
                  <div class="item" style="width:auto;">
                    <div class="content">
                      <div class="homework type">作业形式:个人作业</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item" style="width:auto;width:150px;">
            <div class="content">
              <div class="homework submit button"><a>修改作业</a></div>
            </div>
          </div>
          <div class="item" style="width:auto;width:150px;">
            <div class="content">
              <div class="homework submit button"><a>删除作业</a></div>
            </div>
          </div>
          <div class="item" style="width:auto;margin-right:15px;">
            <div class="content">
              <div class="homework submit button"><a>批改作业</a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="ui segment" style="background-color:rgb(255, 255, 255);">
        <div class="ui relaxed horizontal list">
          <div class="item" style="width: 600px;">
            <div class="content">
              <div class="homework name" style="margin-left: 15px;font-size: large;"><b><a>Linux进程管理研究报告</a></b></div>
              <div class="homework simple description" style="margin-left: 15px;margin-top: 10px;">
                <div class="ui relaxed horizontal list">
                  <div class="item" style="width:auto;">
                    <div class="content">
                      <div class="homework begintime">开始:2019-11-30 21:00</div>
                    </div>
                  </div>
                  <div class="item" style="width:auto;">
                    <div class="content">
                      <div class="homework endtime">截止:2019-12-15 22:00</div>
                    </div>
                  </div>
                  <div class="item" style="width:auto;">
                    <div class="content">
                      <div class="homework type">作业形式:小组作业</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item" style="width:auto;width:150px;">
            <div class="content">
              <div class="homework submit button"><a>修改作业</a></div>
            </div>
          </div>
          <div class="item" style="width:auto;width:150px;">
            <div class="content">
              <div class="homework submit button"><a>删除作业</a></div>
            </div>
          </div>
          <div class="item" style="width:auto;width:150px;">
            <div class="content">
              <div class="homework submit button"><a>批改作业</a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="ui segment" style="background-color:rgb(255, 255, 255);">
        <div class="ui relaxed horizontal list">
          <div class="item" style="width: 600px;">
            <div class="content">
              <div class="homework name" style="margin-left: 15px;font-size: large;"><b><a>Linux系统调用实验</a></b></div>
              <div class="homework simple description" style="margin-left: 15px;margin-top: 10px;">
                <div class="ui relaxed horizontal list">
                  <div class="item" style="width:auto;">
                    <div class="content">
                      <div class="homework begintime">开始:2019-11-30 21:00</div>
                    </div>
                  </div>
                  <div class="item" style="width:auto;">
                    <div class="content">
                      <div class="homework endtime">截止:2019-12-15 22:00</div>
                    </div>
                  </div>
                  <div class="item" style="width:auto;">
                    <div class="content">
                      <div class="homework type">作业形式:个人作业</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item" style="width:auto;width:150px;">
            <div class="content">
              <div class="homework submit button"><a>修改作业</a></div>
            </div>
          </div>
          <div class="item" style="width:auto;width:150px;">
            <div class="content">
              <div class="homework submit button"><a>删除作业</a></div>
            </div>
          </div>
          <div class="item" style="width:auto;margin-right:15px;">
            <div class="content">
              <div class="homework submit button"><a>批改作业</a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="ui segment" style="background-color:rgb(255, 255, 255);">
        <div class="ui relaxed horizontal list">
          <div class="item" style="width: 600px;">
            <div class="content">
              <div class="homework name" style="margin-left: 15px;font-size: large;"><b><a>Linux内核模块实验</a></b></div>
              <div class="homework simple description" style="margin-left: 15px;margin-top: 10px;">
                <div class="ui relaxed horizontal list">
                  <div class="item" style="width:auto;">
                    <div class="content">
                      <div class="homework begintime">开始:2019-11-30 21:00</div>
                    </div>
                  </div>
                  <div class="item" style="width:auto;">
                    <div class="content">
                      <div class="homework endtime">截止:2019-12-15 22:00</div>
                    </div>
                  </div>
                  <div class="item" style="width:auto;">
                    <div class="content">
                      <div class="homework type">作业形式:个人作业</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item" style="width:auto;width:150px;">
            <div class="content">
              <div class="homework submit button"><a>修改作业</a></div>
            </div>
          </div>
          <div class="item" style="width:auto;width:150px;">
            <div class="content">
              <div class="homework submit button"><a>删除作业</a></div>
            </div>
          </div>
          <div class="item" style="width:auto;width:150px;">
            <div class="content">
              <div class="homework submit button"><a>批改作业</a></div>
            </div>
          </div>
        </div>
      </div>
    </div> 
  </div>
  <!-- 课程作业列表 -->

</body>

<script src="/swiper/package/js/swiper.min.js"></script>
<script src="/javascripts/jquery.js"></script>
<script>
</script>

</html>