<!DOCTYPE html>
<html>

<head>
  <title>高校教学管理平台</title>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <link rel="icon" href="/images/favicon.ico" />
  <link rel="stylesheet" type="text/css" href="/dist/semantic.css">
  <link rel="stylesheet" href="/swiper/package/css/swiper.min.css">
  <style type="text/css">
    body {
      background-color: #eeeeee;
    }

    .footer.segment {
      padding: 5em 0em;
    }

    .course-title {
      font-weight: bold;
      font-size: medium;
      font-family: '黑体';
      margin: 8px 16px;
    }

    .course-info {
      font-family: '微软雅黑';
      margin: 8px 16px;
    }

    .user-title {
      text-align: center;
      font-size: large;
      font-family: '微软雅黑';
      font-size: 20px;
    }

    a:link {
      text-decoration: none;
      color: #000000;
    }

    a:visited {
      text-decoration: none;
      color: #000000;
    }

    a:hover {
      text-decoration: underline;
      color: #192b3b;
    }

    /* 鼠标指针移动到链接上 */
    a:active {
      text-decoration: underline;
      color: #192b3b;
    }
  </style>
</head>

<body>
  <!-- 页面主题 -->

  <!-- 课程条目 -->
  <div class="container" style="margin-top:40px;">
    <div class="ui grid">
      <div class="row">
        <div class ="one wide column"></div>
        <div class="ten wide column">
          <div class="ui segment" >
            <h3><a href="/courses/">全部课程</a>>>搜索结果</h3>
            <div class="ui grid">
              <% if (courseList == null) { %>
              <div class="row centered">
                <h3>暂无满足条件的课程。</h3>
              </div>
            <% } else { %>
            <% for(var i = 0; i < courseList.length; i++) { %>
            <% var course = courseList[i]; %>
            <div class="row">
              <div class="five wide column middle aligned">
                <img src='<%= course.coursePhoto %>'>
              </div>
              <div class="eleven wide column">
                <h3 class="header" style="text-align:center"><a href="/courses/<%= course.courseNumber %>">
                    <%= course.courseName %></a></h3>
                <div class="description">
                  <%= course.description %>
                </div>
              </div>
            </div>
            <div class="ui divider"></div>
            <% } %>
            <% } %>
            </div>
          </div>
        </div>
        <!--筛选条件 TODO:表单-->
        <div class="four wide column">
          <div class="ui segment">
            <p class="user-title">筛选条件</p>
            <div class="description">
              <p>筛选项目:
                <div class="ui selection dropdown">
                  <input type="hidden" name="gender">
                  <i class="dropdown icon"></i>
                  <div class="default text">项目</div>
                  <div class="menu">
                    <div class="item" data-value="0">按开课学院</div>
                    <!-- 其实完全没有 -->
                    <div class="item" data-value="1">按修读时间</div>
                  </div>
                </div>
              </p>
              <p>筛选条件:
                <div class="ui selection dropdown">
                  <input type="hidden" name="gender">
                  <i class="dropdown icon"></i>
                  <div class="default text">条件</div>
                  <div class="menu">
                    <div class="item" data-value="0">计算机科学与技术学院</div>
                    <div class="item" data-value="1">马克思主义学院</div>
                  </div>
                </div>
              </p>
              <button class="positive big ui button">确认</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- 课程条目 -->
  <!--筛选条件 -->
  <!-- 筛选条件 -->


  <!-- 页脚 -->
  <div class="template-footer"></div>
  <!-- 页脚 -->

</body>

<script src="/javascripts/jquery.js"></script>
<script src="/dist/semantic.min.js"></script>
<script src="/javascripts/common.js"></script>
<script src="/javascripts/header.js"></script>
<script>
  $('.ui.dropdown').dropdown();
</script>

</html>