<!DOCTYPE html>
<html>

<head>
  <title>登录 | 高校教学管理平台</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
  <link rel='stylesheet' href='stylesheets/style.css' />
  <link rel="icon" href="images/favicon.ico" />
  <style type="text/css">
    body {
      background-color: #DADADA;
    }

    body>.grid {
      height: 100%;
    }

    .image {
      margin-top: -100px;
    }

    .column {
      max-width: 350px;
    }
  </style>
</head>

<body>
  <div class="ui middle aligned center aligned grid">
    <div class="column">
      <h2 class="ui teal image header">
        <div class="content">账号密码登录</div>
      </h2>
      <form class="ui large form">
        <div class="ui stacked segment">
          <div class="field">
            <div class="ui left icon input">
              <i class="user icon"></i>
              <input type="text" name="userName" placeholder="UserID or Email" autocomplete="off">
            </div>
          </div>
          <div class="field">
            <div class="ui left icon input">
              <i class="lock icon"></i>
              <input type="password" name="userPwd" placeholder="Password">
            </div>
          </div>
          <div class="ui fluid large teal submit button">登录</div>
        </div>
        <div class="ui error message"></div>
      </form>

      <div class="ui message">
        <div>还没有账号? <a href="regist">注册一个账号</a> | <a href="/forget">忘记密码</a></div>
      </div>
    </div>
  </div>
</body>
<script src="javascripts/jquery.js"></script>
<script src="dist/components/form.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<script>
  $(".submit.button").click(() => {
    $.ajax({
      dataType: "json",
      type: "post",
      url: "/login",
      data: {
        userName: $("input[name='userName']").val(),
        userPwd: $("input[name='userPwd']").val()
      },
      success: (data) => {
        if (data.status) {
          window.location.href = "/";
        } else {
          $('.ui.form').form('add prompt', "userName");
          $('.ui.form').form('add prompt', "userPwd");
          $(".ui.error.message").text(data.msg).show();
        }
      },
      error: (err) => {
        $(".ui.error.message").text("与服务器连接异常，请稍后再试!").show();
      }
    });
  });
</script>

</html>