<!DOCTYPE html>
<html>
  <head>
    <title>高校教学管理平台</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0"
    />
    <link rel="icon" href="images/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="dist/semantic.css" />
    <link rel="stylesheet" href="swiper/package/css/swiper.min.css" />
    <style type="text/css">
      body {
        background-color: #eeeeee;
      }

      .footer.segment {
        padding: 5em 0em;
      }

      .course-title {
        font-weight: bold;
        font-size: medium;
        font-family: "黑体";
        margin: 8px 16px;
      }

      .course-info {
        font-family: "微软雅黑";
        margin: 8px 16px;
      }

      .user-title {
        text-align: center;
        font-size: large;
        font-family: "微软雅黑";
        font-size: 20px;
      }
    </style>
  </head>

  <body>
    <!-- 导航栏 -->
    <div class="ui menu" style="padding: 15px;">
      <img
        src="images/logo.png"
        style="display: flex; left: auto; margin-left: 30%;"
      />
      <div class="right menu" style="margin-right: 20%;">
        <div class="item">
          <div class="ui action left icon input">
            <i class="search icon"></i>
            <input type="text" placeholder="搜索感兴趣的课程" />
            <button class="ui positive button">搜索</button>
          </div>
        </div>
        <a class="item">使用教程</a>
        <a class="item">建议反馈</a>
      </div>
    </div>
    <!-- 导航栏 -->

    <div class="ui container" style="margin-top:10px;">
      <div class="ui grid">
        <!-- 首页垂直菜单 -->
        <div class="four wide column">
          <div class="ui vertical menu">
            <div class="ui raised link card">
              <div class="image">
                <img src="images/avatar200x200.png" />
              </div>
              <div class="content">
                <a class="header">Seike</a>
                <div class="description">学生</div>
              </div>
            </div>
            <a class="item">
              <i class="home icon"></i>
              首页
            </a>
            <a class="item">
              <i class="file outline icon"></i>
              我的课程
            </a>
            <a class="item">
              <i class="bell outline icon"></i>
              公告
            </a>
          </div>
        </div>
        <!-- 首页垂直菜单 -->
        <!-- 动态 -->
        <div class="twelve wide column">
          <div class="ui two item menu">
            <a class="item">
              <i class="paper plane outline icon"></i>
              动态
            </a>
            <a class="item">
              <i class="paper plane icon"></i>
              最新内容
            </a>
          </div>
        </div>
        <!-- 动态 -->
      </div>
    </div>
  </body>

  <script src="swiper/package/js/swiper.min.js"></script>
  <script src="javascripts/jquery.js"></script>
  <script>
    $(document).ready(function() {
      var mySwiper = new Swiper(".swiper-container", {
        autoHeight: true, //enable auto height
        loop: true, // 循环模式选项
        // 如果需要分页器
        pagination: {
          el: ".swiper-pagination"
        },
        // 如果需要前进后退按钮
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev"
        },
        autoplay: {
          delay: 2500,
          disableOnInteraction: false
        }
      });
    });
  </script>
</html>
