<!DOCTYPE html>
<html>

<head>
  <title>高校教学管理平台</title>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
  <link rel="icon" href="/images/favicon.ico" />
  <link rel="stylesheet" type="text/css" href="/dist/semantic.css" />
  <style type="text/css">
    body {
      background-color: #eeeeee;
    }

    .footer.segment {
      padding: 5em 0em;
    }

    .course-title {
      font-weight: bold;
      font-size: medium;
      font-family: "黑体";
      margin: 8px 16px;
    }

    .course-info {
      font-family: "微软雅黑";
      margin: 8px 16px;
    }

    .user-title {
      text-align: center;
      font-size: large;
      font-family: "微软雅黑";
      font-size: 20px;
    }
  </style>
</head>

<body>
  <div class="pusher">
    <!-- 导航栏 -->
    <div class="main navBar">

    </div>
    <!-- 导航栏 -->

    <div class="ui container" style="margin-top:10px;">
      <div class="ui grid">
        <!-- 首页垂直菜单 -->
        <div class="four wide column">
          <div class="ui vertical menu">
            <div class="ui raised link card">
              <div class="image">
                <img src="/images/avatar200x200.png" />
              </div>
              <div class="content">
                <a class="header">刑卫</a>
                <div class="description">教师</div>
              </div>
            </div>
            <a class="item" id="homePage">
              <i class="home icon"></i>
              首页
            </a>
            <a class="item" id="myClass">
              <i class="file outline icon"></i>
              我的课程
            </a>
            <a class="item" id="taPrivilege">
              <i class="list alternate outline icon"></i>
              助教权限管理
            </a>
          </div>
        </div>
        <!-- 首页垂直菜单 -->
        <!-- 动态 -->
        <div class="twelve wide column">
          <div class="ui segments" style="background-color: rgb(255, 255, 255);">
            <div class="ui basic segment">
              <h3 style="margin-left: 5px;">助教管理</h3>
              <div class="ui divider"></div>
              <button class="ui right floated small primary labeled icon button">
                <i class="add icon"></i> 添加助教
              </button>
            </div>
            <div class="ui basic segment"></div>
            <div class="ui basic segment" style="background-color:rgb(255, 255, 255);">
              <table class="ui compact celled definition table">
                <thead class="full-width">
                  <tr>
                    <th style="width: 100px;text-align: center;">助教ID</th>
                    <th style="width: 100px;text-align: center;">助教姓名</th>
                    <th style="text-align: center;">拥有权限</th>
                    <th style="text-align: center;">修改权限</th>
                    <th style="text-align: center;">删除助教</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td style="text-align: center;">AS-00001</td>
                    <td style="text-align: center;">方陶然</td>
                    <td style="text-align: center;">上传资料 作业管理 班级成绩管理 课程通知管理</td>
                    <td style="text-align: center;"><i class="edit icon"></i></td>
                    <td style="text-align: center;"><i class="trash alternate outline icon"></i></td>
                  </tr>
                </tbody>
                <tfoot class="full-width">
                </tfoot>
              </table>
            </div>
            <div class="ui grid" style="margin-bottom: 20px;">
            </div>
          </div>
        </div>
        <!-- 动态 -->
      </div>
    </div>

    <!-- 页脚 -->
    <div class="template-footer"></div>
    <!-- 页脚 -->

    <!--添加助教模态框-->
    <div class="ui modal addTA">
      <i class="close icon"></i>
      <div class="header">添加助教</div>
      <div class="content">
        <div class="ui form">
          <b style="margin-right: 15px;">请输入助教ID</b>
          <div class="ui input">
            <input type="text" placeholder="输入助教ID">
          </div>
          <table class="ui compact celled definition table">
            <thead class="full-width">
              <tr>
                <th style="width: 200px;text-align: center;">选择权限</th>
                <th style="text-align: center;">权限名称</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="collapsing">
                  <div class="ui checkbox" style="margin-left: 80px;">
                    <input type="checkbox" name="privilege setup">
                    <label></label>
                  </div>
                </td>
                <td style="text-align: center;">上传资料</td>
              </tr>
              <tr>
                <td class="collapsing">
                  <div class="ui checkbox" style="margin-left: 80px;">
                    <input type="checkbox" name="privilege setup">
                    <label></label>
                  </div>
                </td>
                <td style="text-align: center;">作业管理</td>
              </tr>
              <tr>
                <td class="collapsing">
                  <div class="ui checkbox" style="margin-left: 80px;">
                    <input type="checkbox" name="privilege setup">
                    <label></label>
                  </div>
                </td>
                <td style="text-align: center;">班级成绩管理</td>
              </tr>
              <tr>
                <td class="collapsing">
                  <div class="ui checkbox" style="margin-left: 80px;">
                    <input type="checkbox" name="privilege setup">
                    <label></label>
                  </div>
                </td>
                <td style="text-align: center;">课程通知管理</td>
              </tr>
            </tbody>
            <tfoot class="full-width">
            </tfoot>
          </table>
        </div>
      </div>
      <div class="actions">
        <div class="ui positive button">添加</div>
        <div class="ui red deny button">取消</div>
      </div>
    </div>
    <!--添加助教模态框-->

    <!--修改助教权限模态框-->
    <div class="ui modal updateTAprivilege">
      <i class="close icon"></i>
      <div class="header">修改助教权限</div>
      <div class="content">
        <div class="ui form">
          <table class="ui compact celled definition table">
            <thead class="full-width">
              <tr>
                <th style="width: 200px;text-align: center;">选择权限</th>
                <th style="text-align: center;">权限名称</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="collapsing">
                  <div class="ui checkbox" style="margin-left: 80px;">
                    <input type="checkbox" name="privilege setup">
                    <label></label>
                  </div>
                </td>
                <td style="text-align: center;">上传资料</td>
              </tr>
              <tr>
                <td class="collapsing">
                  <div class="ui checkbox" style="margin-left: 80px;">
                    <input type="checkbox" name="privilege setup">
                    <label></label>
                  </div>
                </td>
                <td style="text-align: center;">作业管理</td>
              </tr>
              <tr>
                <td class="collapsing">
                  <div class="ui checkbox" style="margin-left: 80px;">
                    <input type="checkbox" name="privilege setup">
                    <label></label>
                  </div>
                </td>
                <td style="text-align: center;">班级成绩管理</td>
              </tr>
              <tr>
                <td class="collapsing">
                  <div class="ui checkbox" style="margin-left: 80px;">
                    <input type="checkbox" name="privilege setup">
                    <label></label>
                  </div>
                </td>
                <td style="text-align: center;">课程通知管理</td>
              </tr>
            </tbody>
            <tfoot class="full-width">
            </tfoot>
          </table>
        </div>
      </div>
      <div class="actions">
        <div class="ui positive button">提交</div>
        <div class="ui red deny button">取消</div>
      </div>
    </div>
    <!--修改助教权限模态框-->

  </div>

  <script src="/javascripts/jquery.js"></script>
  <script src="/javascripts/common.js"></script>
  <script src="/dist/semantic.min.js"></script>
  <script src="/javascripts/header.js"></script>
  <script>
    $('#taPrivilege').click(function () {
      window.location.href = './manageTaPrivilege';
    });

    $('#homePage').click(function () {
      window.location.href = '/';
    });

    $('#myClass').click(function () {
      window.location.href = './';
    });

    $('.courseEnter').click(function () {
      var enterLocation = "/courses/class/";
      var classID = $(this).siblings('.class_id_info').text();
      enterLocation += classID + "/notice";
      window.location.href = enterLocation;
    })

    var showModal = () => {
      $('.ui.modal').modal('show');
    }
  </script>

</body>

</html>