<!DOCTYPE html>
<html>

<head>
  <title>高校教学管理平台</title>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
  <link rel="icon" href="/images/favicon.ico" />
  <link rel="stylesheet" type="text/css" href="/dist/semantic.css" />
  <style type="text/css">
    body {
      background-color: #eeeeee;
    }

    .footer.segment {
      padding: 5em 0em;
    }

    .course-title {
      font-weight: bold;
      font-size: medium;
      font-family: "黑体";
      margin: 8px 16px;
    }

    .course-info {
      font-family: "微软雅黑";
      margin: 8px 16px;
    }

    .user-title {
      text-align: center;
      font-size: large;
      font-family: "微软雅黑";
      font-size: 20px;
    }
  </style>
</head>

<body>
  <div class="ui container" style="margin-top:10px;">
    <div class="ui grid">
      <!-- 首页垂直菜单 -->
      <div class="four wide column">
        <div class="ui vertical menu">
          <div class="ui raised link card">
            <div class="image">
              <img src="/images/teacher.png" />
            </div>
            <div class="content">
              <a class="header">邢卫</a>
              <div class="description">教师</div>
            </div>
          </div>
          <a class="item" onclick="javascript:window.location.href='/'">
            <i class="home icon"></i>
            首页
          </a>
          <a class="item">
            <i class="file outline icon"></i>
            我的课程
          </a>
          <a class="item">
            <i class="archive icon"></i>
            课程成绩
          </a>
          <a class="item">
            <i class="bell outline icon"></i>
            公告
          </a>
        </div>
      </div>
      <!-- 首页垂直菜单 -->
      <div class="twelve wide column">
        <div class="ui two item menu">
          <a class="item">
            <i class="paper plane outline icon"></i>
            动态
          </a>
          <a class="item">
            <i class="paper plane icon"></i>
            最新内容
          </a>
        </div>

        <!--            <div class="ui equal width center aligned padded grid">-->
        <div class="ui grid" style="margin: 15px 0px 0px 10px">
          <div class="row" style="background-color:#FFFFFF;color: #000000;">
            <div class="ui left aligned container" style="padding: 10px">
              <div class="ui relaxed divided list">
                <div class="item">
                  <i class="large columns middle aligned icon"></i>
                  <div class="content">
                    <a class="header">软件工程管理-1</a>
                    <div class="description">班级号：000001</div>
                  </div>
                </div>
                <div class="item">
                  <i class="large columns middle aligned icon"></i>
                  <div class="content">
                    <a class="header">软件工程管理-2</a>
                    <div class="description">班级号：000002</div>
                  </div>
                </div>
                <div class="item">
                  <i class="large columns middle aligned icon"></i>
                  <div class="content">
                    <a class="header">数据库系统原理</a>
                    <div class="description">班级号：000003</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <script src="/dist/semantic.js"></script>
  <script src="/javascripts/jquery.js"></script>
  <script src="javascripts/userGrade.js"></script>
  <script src="/javascripts/header.js"></script>

</body>